@value white, white-transparent, silver, blue-mariner, crimson-red, black from '../../shared/colors.css';

:root {
    --content-height: 274px;
    --poster-height: 230px;
    --content-width: 155px;
    --border-width: 2px;
    --border-radius: calc(var(--border-width)*2);
}

/*TODO: compose clickable item*/
.container {
    width: var(--content-width);
    height: var(--content-height);
    min-width: var(--content-width);
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 20px 10px;
}

.content-over {
    height: var(--content-height);
    position: absolute;
    top: 0;
    z-index:5;
    width:100%;
}

.action-wrapper {

}

.content {
    width: calc(100% - 2*var(--border-width));
    height: calc(var(--poster-height) - 2*var(--border-width));
    border: var(--border-width) solid transparent;
    border-radius: var(--border-radius);
    z-index: 5;
    position: absolute;
}

.content-wrapper {
    color: white;
    height: 100%;
}

.content-focused {
    composes: content;
    border: var(--border-width) solid blue-mariner;
    border-radius: var(--border-radius);
}

.action-item {
    opacity: 0.8;
    font-size: 16px;
}

.action-item-selected {
    opacity: 1;
    composes: action-item;
}

.seen-item {
    composes: action-item-selected;
    color: blue-mariner;
}

.bookmarked-item {
    composes: action-item-selected;
    color: crimson-red;
}

.poster {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--poster-height);
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow: 0 0 calc(4*var(--border-width)) black;
}

.poster-loading {
    composes: poster;
    background-image: url('./assets/popcorntime_icon.png');
    background-position: center;
    background-size: 70%;
    filter: grayscale(0.9);
    z-index: 0;
}

.poster-focused {
    composes: poster;
    width: 100%;
    height: var(--poster-height);
    filter: grayscale(0.9);
    box-shadow: none;
}

.actions {
    position: relative;
    z-index: 1;
    display: flex;
    width: calc(100% - 10px*2);
    justify-content: space-between;
    padding: 10px;
    visibility: hidden;
}
.actions-focused {
    composes: actions;
    visibility: visible;
}

.text-wrapper {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.title {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.year {
    margin-top: 5px;
    opacity: 0.3;
}
