@value blue-mariner-black, blue-mariner-dblack, white-detail from '../../shared/colors';

.container {
    cursor: pointer;
    padding: 10px;
    color: white-detail;
    background-color: blue-mariner-dblack;
    border-radius: 2px;
    display: inline-block;
    margin-right: 15px;
}

.container-enter {
    composes: container;
    background-color: blue-mariner-black;
}
