@value blue-mariner from '../../shared/colors.css';

.container {
    composes: container from './item.css';
    padding: 0 5px;
}
.container-focused {
    composes: container;
    color: blue-mariner;
}