@value menu-height from '../../shared/size.css';
@value blue-mariner, white from '../../shared/colors.css';

:root {
   --item-padding: 20px;
   --border-width: 4px;
   --item-height: calc(45px - var(--border-width));
}

.container {
   padding: 0 var(--item-padding);
   width: auto;
   display: inline-block;
   height: var(--item-height);
   line-height: var(--item-height);
   border-bottom: var(--border-width) transparent solid;
   color: white;
   cursor: pointer;
}

.container-focused {
   composes: container;
   border-bottom-color: blue-mariner;
}