@value menu-height, border-width from '../../shared/size.css';
@value black-woodsmoke-90, black from '../../shared/colors.css';

:root{
    --border-width: border-width;
}

.container {
    z-index: 8;
    position: fixed;
    top: 0;
    padding-top: 20px;
    background-color: black-woodsmoke-90;
    height: menu-height;
    width: 100%;
    /*TODO: fix border-width*10*/
    box-shadow: 0 0 20px black;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.left-items {
}
.right-items {
    font-size: 16px;
}