@value white-detail, blue-mariner, crimson-red from '../../shared/colors.css';
:root {
}
.detail-container-background {
    top:0;
    left:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: blur(40px);
    z-index:0;
}
.detail-container-background-overlap {
    composes: detail-container-background;
    background:black;
    opacity: 0.4;
    z-index: 1;
}
.detail-container-content {
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 2;
}
.detail-container-text-info {
    margin: 40px;
    min-width: calc(100vw - 500px);
    max-width: calc(100vw - 500px);
    position: relative;
}
.detail-container-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.detail-actions {
    position: absolute;
    bottom: 0;
}
.detail-title {
    color: white-detail;
    font-size: 3em;
    line-height: 0.75em;
    height: 1.2em;
    margin:0;
    padding:0;
    overflow-x: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-actions {
    margin-top: 20px;
}
.text-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
.button-icon {
    font-size: 20px;
    margin-right: 10px;
}
.button-icon-focused {
    composes: button-icon;
    color: crimson-red;
}
.button-seen-icon-focused {
    composes: button-icon-focused;
    color: blue-mariner;
}
.button-icon-selected {
    composes: button-icon;
    color: crimson-red;
}
.button-seen-icon-selected {
    composes: button-icon-selected;
    color: blue-mariner;
}
.back-button {
    font-size: 30px;
    position: absolute;
    top: -50px;
    right: 0;
    cursor: pointer;
}
