:root {
    --content-height: 450px;
    --content-width: 300px;
    --border-width: 10px;
    --border-radius: calc(var(--border-width)*2);
}
.poster-detail {
    margin: calc(4*var(--border-width));
    width: calc(var(--content-width) + 4*var(--border-width));
    min-width: calc(var(--content-width) + 4*var(--border-width));
    height: calc(var(--content-height) + 4*var(--border-width));
    border-radius: 10px;
    box-shadow: 0 0 calc(4*var(--border-width)) black;
    background-size: cover;
}