@value white: color(#ffffff b(30%));
@value white-detail: color(#ffffff b(5%));
@value white-transparent: color(#ffffff a(-75%));
@value silver: #ccccc;
@value blue-mariner: #2358c9;
@value blue-mariner-black: color(#2358c9 b(40%));
@value blue-mariner-dblack: color(#2358c9 b(60%));
@value black-woodsmoke: color(#121315 l(15%));
@value black-woodsmoke-alpha: color(#121315 a(-80%));
@value black-woodsmoke-10: color(#121315 l(10%));
@value black-woodsmoke-20: color(#121315 l(20%));
@value black-woodsmoke-90: color(#121315 a(90%));
@value black-woodsmoke-90-20: color(#121315 a(90%) l(20%));
@value black: #000;
@value crimson-red: #d5162a;
