@import "normalize.css";
@value black-woodsmoke from '../shared/colors.css';

:global html{
    background: black-woodsmoke;
    height: 100%;
}
:global body {
    font-family: system-ui;
    font-size: 14px;
    min-width: 700px;
    height: 100%;
}
:global body * {
    user-select: none;
}
*:focus {
    outline: none;
}