@value black, white, black-woodsmoke-90-20 from '../../shared/colors.css';

.container {
    font-size: 15px;
    composes: container from '../menu/icon.css';
    border-bottom:0;
    height: 45px;
}
.input-container {
    position:relative;
}
.component-input {
    border: none;
    padding: 0 10px;
    background: transparent;
    color: black;
    background: black-woodsmoke-90-20;
    border-radius: 15px;
    height: 25px;
    padding-bottom: 1px;
    color: white;
}
.input-icon {
    color: white;
    position: absolute;
    top: 14px;
    right: 10px;
    z-index:2;
}